<!DOCTYPE html>
{%extends 'doner/base.html'%}

{%block body_block%}

<h1 id="donate-heading">Donate food</h1>
<form action="" method="POST">{%csrf_token%}
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-3">
                <div class="">
                    <label for="user" class="">Username</label>
                    {{form.user}}
                </div>
                <div class="">
                    <label for=" donor_type" class="">Donor Type</label>
                    {{form.donor_type}}
                </div>
                <div class="">
                    <label for=" donor_discription" class="">Donor discription</label>
                    {{form.donor_discription}}
                </div>
                <div class="">
                    <label for="location" class="">Location</label>
                    {{form.location}}
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="">
                    <label for="food_type" class="label">Food type</label>
                    {{form.food_type}}
                </div>
                <div class="">
                    <label for="food" class="label">Food</label>
                    {{form.food}}
                </div>
                <div class="">
                    <label for="food_discription" class="label">Food discription</label>
                    {{form.food_discription}}
                </div>
                <div class="">
                    <label for="date" class="label">Date</label>
                    {{form.date}}
                </div>
            </div>
            <div class="">
                <input type="submit" class="button" value="submit">
            </div>
        </div>
    </div>

</form>
    {% endblock %}
    