<!DOCTYPE html>
{% extends 'doner/base.html' %}

{% block body_block %}

<h1 style="color:white">Edit Profile</h1>

<form action="{% url 'edit_profile' %}" method="post">
  {% csrf_token %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="first_name" style="color:white">First Name:</label>
          <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="last_name" style="color:white">Last Name:</label>
          <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="email" style="color:white">Email:</label>
          <input type="email" name="email" id="email" value="{{ user.email }}" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="mobile" style="color:white">Mobile:</label>
          <input type="text" name="mobile" id="mobile" value="{{ user.profile.mobile }}" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="user_type" style="color:white">User Type:</label>
          <br>
          <input type="radio" id="donor" name="user_type" value="donor" {% if user.profile.user_type == 'donor' %}checked{% endif %} required>
          <label for="donor" style="color:white">Donor</label>
          <br>
          <input type="radio" id="distributor" name="user_type" value="distributor" {% if user.profile.user_type == 'distributor' %}checked{% endif %} required>
          <label for="distributor" style="color:white">Distributor</label>
          <br>
          <input type="radio" id="normal" name="user_type" value="normal user" {% if user.profile.user_type == 'normal user' %}checked{% endif %} required>
          <label for="normal" style="color:white">Normal User</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="submit" value="Submit" class="btn btn-primary">
      </div>
    </div>
  </div>

{% endblock %}



