<!DOCTYPE html>
{% extends 'doner/base.html' %}

{% block body_block %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
</head>
<body>
  <h1>Forgot Password</h1>
  <p>Enter your email address below to reset your password.</p>
  <form action="/reset-password" method="post">
    {% csrf_token %}
    <input type="email" name="email" placeholder="Email Address">
    <input type="submit" value="Reset Password">
  </form>
</body>
</html>


{% endblock %}