<!DOCTYPE html>

{% extends 'doner/base.html' %}



{% block body_block %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="color: white;">Profile Details</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="first_name" style="color: white;">First Name:</label>
        <input type="text" id="first_name" class="form-control" value="{{ user.first_name }}" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="last_name" style="color: white;">Last Name:</label>
        <input type="text" id="last_name" class="form-control" value="{{ user.last_name }}" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="email" style="color: white;">Email:</label>
        <input type="email" id="email" class="form-control" value="{{ user.email }}" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="mobile" style="color: white;">Mobile:</label>
        <input type="text" id="mobile" class="form-control" value="{{ user.profile.mobile }}" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="user_type" style="color: white;">User Type:</label>
        <input type="text" id="user_type" class="form-control" value="{{ user.profile.user_type }}" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'edit_profile'%}" class="btn btn-primary">Edit Profile</a>
    </div>
  </div>
</div>
{% endblock %}
