<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="style.css">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
    <div class="main">
        <h2>Profile Details</h2>
        <div class="card">
            <div class="card-body">
                <!--<i class="fa fa-pen fa-xs edit"></i>-->
                <table>
                    <tbody>
                        <tr>
                            <td>First name</td>
                            <td>:</td>
                            <td>{{ user.first_name}}</td>
                        </tr>
                        <tr>
                            <td>Last name</td>
                            <td>:</td>
                            <td>{{ user.last_name}} </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>{{ user.email}}</td>
                        </tr>
                        <tr>
                            <td>Mobile Number</td>
                            <td>:</td>
                            <td>{{ user.mobile }}</td>
                        </tr>
                        <!-- <tr>
                            <td>Job</td>
                            <td>:</td>
                            <td>Web Developer</td>
                        </tr> 
                        <tr>
                            <td>Hobbies</td>
                            <td>:</td>
                            <td>PHP, HTML, CSS, Java</td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End -->
</body>
</html>