<!DOCTYPE html>
{%extends 'doner/base.html'%}

{%block body_block%}
<div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
    <h2 >Profile Details</h2>
    <div>
        <h5>First name:     {{ user.first_name}}</h5>
        <h5>Last name:      {{ user.last_name}}</h5>
        <h5>Email:      {{ user.email}}</h5>
        <h5>Mobile:     {{ user.profile.mobile }}</h5>
        <h5>User Type:     {{ user.profile.user_type }}</h5>

        <a href="{% url 'eprofile'%}" class="btn-services scrollto">Edit Profile</a>

        
    </div>
    <!-- End -->
    {% endblock %}