<!DOCTYPE html>
{%extends 'doner/base.html'%}

{%block body_block%}


    <h2 id="donation_history">Your donations</h2>
    
<div>
<table class="table table-success table-striped">
    <tr>
        <td>user</td>
        <td>food_type</td>
        <td>discription</td>
        <td>supply_date</td>
        <td>pickup_location</td>
        <td>pickup_deadline</td>
        <td>contact_information</td>



    </tr>
{% for donation in donation_history%}
    <tr>
        <td>{{donation.user}}</td>
        <td>{{donation.food_type}}</td>
        <td>{{donation.discription}}</td>
        <td>{{donation.supply_date}}</td>
        <td>{{donation.pickup_location}}</td>
        <td>{{donation.pickup_deadline}}</td>
        <td>{{donation.contact_information}}</td>



</tr>

{% endfor%}
</table>
</div>
{% endblock %}