<!DOCTYPE html>
{%extends 'doner/base.html'%}

{%block body_block%}

<form action="" method="POST">{%csrf_token%}

            <div class="">
                <div class="">
                    <div class="">
                        <label for="Name" class="label">USERNAME</label>
                        {{form.user}}
                    </div>
                     <div class="">
                        <label for="address" class="label">FEEDBACK</label>
                         {{form.feedback}}
                     </div>
                    <div class="">
                        <input type="submit" class="button" value="submit">
                    </div>
                </div>
            </div>

</form>

{% endblock %}
